@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.image-logo {
  width: 150px;
}

.navbar-toggler {
  border: none;
}

.responsive-navbar {
  display: flex;
  list-style: none;
  border: none;
  justify-content: space-around;
  align-items: center;
}

.responsive-navbar .responsive-navbar-item {
  margin-left: 0.5rem;
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  .responsive-navbar .responsive-navbar-item {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: map-get($grid-breakpoints, 'sm')) {
  .image-logo {
    width: 110px;
  }
}

.wrapper {
  max-height: 40;
  display: flex;
  overflow-x: auto;
  background: #ffa200;
}

.wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.wrapper .item {
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ffa200;
  margin-right: 6px;
  margin-left: auto;
}
.item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: sans-serif;
}

.item:hover {
  background: #e99300;
}

.divider {
  background: white;
  height: 30px;
  width: 1px;
  margin-top: 5px;
}
